@media (min-width: 1400px) {
  body {
    background-color: blueviolet;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .principle1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .principle2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .principle3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
